﻿@model IEnumerable<SchoolWebApplication.Models.Class>

@{
    ViewBag.Title = "About";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 3, canSort: false);
    
}

<style type="text/css">
    table {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        font-family: Tahoma;
        font-size: small;
    }

    th {
        background-color: #990000;
        font-weight: bold;
        color: White !important;
    }

    table th a {
        color: White;
        text-decoration: none;
    }

    #subGrid th {
        background-color: #021D39;
    }

    table th, table td {
        border: 1px solid black;
        padding: 5px;
    }

    .ExpColl {
        cursor: pointer;
    }

    .expand {
        background-color: Red;
        width: 10px;
        height: 10px;
    }

    .collapse {
        background-color: Green;
        width: 10px;
        height: 10px;
    }
</style>



<div id="main" style="padding: 225px; background-color: white;">
    @grid.GetHtml(
    htmlAttributes: new { id = "mainGrid", width = "500px" },
         tableStyle: "webGrid",
         fillEmptyRows: false,
         alternatingRowStyle: "alt",
         headerStyle: "grid-header",
         footerStyle: "foot-grid",
         mode: WebGridPagerModes.All,
         firstText: "<< First",
         previousText: " < Previous",
         nextText: "Next >",
         lastText: "Last >>",
         caption: "Classes Details",
         emptyRowCellValue: null,
    columns: grid.Columns(
                                    grid.Column("Title", "Title"),
                                    grid.Column("StudentsNum", "StudentsNum"),
                                    grid.Column("Teacher.Name", "Teacher_Name"),
            //grid.Column("dept.Dept_Name", "Dept_Name"),
            grid.Column(format: (item) =>
            {
                WebGrid subGrid = new WebGrid(source: item.Students);
                return subGrid.GetHtml(
                    htmlAttributes: new { id = "subGrid" },
                    columns: subGrid.Columns(
                            subGrid.Column("Name", "Name"),
                            subGrid.Column("City", "City"),
                            subGrid.Column("Phone", "Phone"),
                            subGrid.Column("GPA", "GPA")
                        )
                    );
            })
        )
    )
</div>



<script src="../../Scripts/jquery-2.1.4.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var size = $("#main #mainGrid > thead > tr >th").size();  //get columns size
        $("#main #mainGrid > thead > tr >th").last().remove(); // remove last column
        $("#main #mainGrid > thead > tr").prepend("<th></th>");
        $("#main #mainGrid > tbody > tr").each(function (i, el) {
            $(this).prepend(
                    $("<td><input type='button' value='Details' /></td>")
                    .addClass("expand")
                    .addClass("ExpColl")
                );

            var table = $("table", this).parent().html();
            $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
            $("table", this).parent().remove();
            $(".ExpColl", this).live("click", function () {
                $(this).parent().closest("tr").next().slideToggle(100);
                $(this).toggleClass("expand collapse");
            });
        });

        $("#main #mainGrid > tbody > tr td.expand").each(function (i, el) {
            $(this).toggleClass("expand collapse");
            $(this).parent().closest("tr").next().slideToggle(100);
        });

    });
</script>
