﻿@model SchoolWebApplication.Models.User

@{
    Layout = null;
}
<h1>Login Page</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <title>MainLog</title>
</head>
<body>
    <div class="panel panel-info mt10 br-n">
        @Html.AntiForgeryToken()

        <form method="post" id="contact">
            <div class="panel-body bg-light p30">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="section">
                            <label class="field-label text-muted fs18 mb10">Username</label>

                            <input id="UserName" class="form-control" type="text" />
                            @*@Html.TextBoxFor(m => m.UserName, new { @class = "gui-input", placeholder = "Enter username" })><span class="text-danger">
                                @Html.ValidationMessageFor(m => m.UserName)
                                                            </span>*@

                            <label class="field-icon" id="ErrorMessage1">

                            </label>

                        </div>
                        <!-- end section -->
                        <div class="section">
                            <label class="field-label text-muted fs18 mb10">Password</label>

                            <input id="Password" class="form-control" type="password" />
                            @*@Html.PasswordFor(m => m.Password, new { @class = "gui-input", placeholder = "Enter password" })*@
                            @*<span class="text-danger">
                                    @Html.ValidationMessageFor(m => m.Password)
                                </span>*@
                            <label class="field-icon" id="passwordValidationMessage">

                            </label>

                        </div>
                        <!-- end section -->
                        <div class="section">
                            <div class="text-danger">
                                @Html.ValidationSummary(true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end .form-body section -->
            <div class="panel-footer clearfix p10 ph15">
                <button type="button" class="button btn-primary mr10" id="Log" onclick="LoginFunction();">Login</button>
                <p>If do not have an account @Html.ActionLink("Register Now", "MainRegister", "Home")</p>

                <label class="switch block switch-primary pull-left input-align mt10">
                    <input type="checkbox" name="remember" id="remember" checked>
                    <label for="remember" data-on="YES" data-off="NO"></label>
                    <span>Remember me</span>
                </label>

                @*@Html.CheckBoxFor(m => m.RememberMe)
                    <span>Remember me?</span>*@
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>

</body>
</html>

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/bootstrap.css")
@Scripts.Render("~/bundles/modernizr")



<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/myScripts/utility.js"></script>
<script type="text/javascript" src="~/Scripts/myScripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/myScripts/demo.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/JsFilesForPages/MainLogJSCode.js"></script>
