﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style type="text/css">
        table {
            margin: 4px;
            border-collapse: collapse;
            width: 500px;
            font-family: Tahoma;
            font-size: small;
        }

        th {
            background-color: #990000;
            font-weight: bold;
            color: White !important;
        }

        table th a {
            color: White;
            text-decoration: none;
        }

        #subGrid th {
            background-color: #021D39;
        }

        table th, table td {
            border: 1px solid black;
            padding: 5px;
        }

        .ExpColl {
            cursor: pointer;
        }

        .expand {
            background-color: Red;
            width: 10px;
            height: 10px;
        }

        .collapse {
            background-color: Green;
            width: 10px;
            height: 10px;
        }
    </style>
</body>
</html>
