﻿@model IEnumerable<SchoolWebApplication.Models.Teacher>

<div>

    <br />
    <br />
    <br />
    <h1>Teachers</h1>

    @if (Session["LoggedUserFullName"] != "true")
    {

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <ul class="dropdown-menu dropdown-persist pn w250 bg-white" role="menu">

                    <li class="br-t of-h">
                        <a href="#" class="fw600 p12 animated animated-short fadeInDown">
                            <span class="fa fa-gear pr5"></span> Change Password
                        </a>
                    </li>
                    @*<li class="br-t of-h">
                            <a href="@Url.Action("MainLogOut", "Home")" class="fw600 p12 animated animated-short fadeInDown">
                                <span class="fa fa-power-off pr5"></span>Logout
                            </a>
                        </li>*@
                </ul>
            </li>
        </ul>

        <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#modal-form" style="height:30px;width:150px" onclick="AddTeacherData();">
            Add New Teacher &raquo;
        </button>
        <img id="action_progress" width="17" height="17" alt="" src="~/Content/themes/images/loader.gif" hidden="hidden"><img />

        <div id="MainGrid" style="padding:25px; background-color:grey;">

            @{
        Html.RenderPartial("MainTeachersGridPartialView", Model);
            }


        </div>

    }
    else
    { <h1>Not Authorithed User!</h1> <a href="@Url.Action("MainLog", "Home")" class="fw600 p12 animated animated-short fadeInDown">
        <span class="fa fa-power-off pr5"></span>Login
    </a>}

    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="z-index:inherit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Teacher</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-size:small">Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="teacherNameTxt" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-size:small">Age</label>
                            <div class="col-sm-9">
                                <input type="number" id="teacherAgeTxt" class="form-control" placeholder="Age">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-size:small">Phone</label>
                            <div class="col-sm-9">
                                <input type="number" id="teacherPhoneTxt" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-size:small">Address</label>
                            <div class="col-sm-9">
                                <input type="text" id="teacherAddresTxt" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <label class="field-icon" id="validationMessage"></label>
                        <br />
                        <span id="error" style="color: darkred;"></span>
                        <div class="modal-footer" style="align-items:center">
                            <button type="button" id="submitSaveTeacher" class="btn-large btn-danger">Save</button>
                            <button type="button" class="btn-group btn-group-vertical" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">


    <div class="col-md-4">

        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">

        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

<script src="~/Scripts/JsFilesForPages/MainPageTeachersJSCode.js"></script>
<script type="text/javascript">
    if ('@ViewBag.DoubleLogin'.length > 1) {
        alert('@ViewBag.DoubleLogin');
    }


</script>

