﻿@model IEnumerable<SchoolWebApplication.Models.Teacher>

@if (Model.Any())
{
    <table class="table table-striped no-margn table-bordered" id="MainTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Address</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
    int count = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    
                    <td>
                        <ul class="list-unstyled list-inline showcase-btn tableicons">
                            <li>
                                <button type="button" class="btn-primary" data-toggle="modal" data-target="#modal-form" style="height:30px;width:60px" onclick="GetTeacherData('@item.TeacherId');">
                                    <span style="text-align:center; font-family:Calibri; color:black">Edit</span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-primary" style="height:30px;width:70px" title="" data-original-title="Delete"
                                        onclick="DeleteTeacher('@item.TeacherId')">
                                    <span style="text-align:center; font-family:Calibri; color:black">Delete</span>
                                </button>
                            </li>
                            

                            

                        </ul>
                        @*<ul>
                            <li>
                                @{
                string NewId = "AssignedStsDiv" + @item.StudentID;
                                }
                                <div id="@NewId" class="toggle" style="display:none">
                                    <table id="AssignedStudentsTable" style="border:double;background-color:aqua"></table>
                                </div>
                            </li>
                        </ul>*@
                        
                        @*@{
                            
                string id = "content" + @item.StudentID;
                        }
                        <div id="@id" class="toggle" style="display:none">
                            
                            <table>
                                <tr>
                                    <td>Students:</td>
                                    <td>
                                        <select id="student_idTxt">
                                            @foreach (var student in ViewBag.Students)
                                            {
                                                <option value="@student.StudentID">
                                                    @student.Name
                                                </option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" id="AddStudentsbtn" class="btn-danger" style="height:30px;width:80px" onclick="AddStudentsDiv();">
                                            <span style="text-align:center; font-family:Calibri; color:black">Add</span>
                                        </button>
                                        <img id="action_progress" width="17" height="17" alt="" src="~/Content/themes/images/loader.gif" hidden="hidden">
                                        <img />
                                        <label id="AssignStudentsValidationMsg"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>*@
                    </td>

                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div id="MainGrid" style="padding:25px; background-color:grey;">
        <p>No Classes Found!</p>
    </div>
}