﻿@model IEnumerable<SchoolWebApplication.Models.Course>


<!DOCTYPE html>
<br />
<br />
<br />
<br />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainReportsIndex</title>
</head>
<body>
    <div> 

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Label("Course Title", new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("CoursesTiltles", (SelectList)ViewData["CoursesTiltles"], "Select Course")
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.Label("Students", new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("StudentsValues", (SelectList)ViewData["StudentsValues"])
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.Label("Credit Hours", new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            
                                <div class="form-group">
                                    @*@Html.TextBox(" ", null, new {@class = "form-control", @id = "CreditHoursSearchInput" })*@
                                    <input type="text" id="CreditHoursSearchInput" class="form-control" placeholder="Search..." onkeyup="GetCreditHoursVals()">
                                </div>
                            

                            @*@Html.DropDownList("ClassesValues", (SelectList)ViewData["ClassesValues"], "Select Class")*@
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <br />
    <br />
    <div style="padding:25px; background-color:grey;">
        @*<div id="ReportsCoursesDataTable" style="padding:25px; background-color:grey;">
                @{
                    Html.RenderPartial("ReportTable1");
                }
            </div>*@
        <table id="ReportsCoursesDataTable" style="display: inline-block; background-color: aqua; " border="1"></table>
        <br />
        <table id="ReportStudentDataTable" style="display: inline-block; background-color: aqua; " border="1"></table>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
</html>
<script src="~/Scripts/JsFilesForPages/MainCourseReportsJSCode.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>