﻿@model IEnumerable<SchoolWebApplication.Models.Class>


<!DOCTYPE html>
<br />
<br />
<br />
<br />
<br />
<br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainReportsIndex</title>
</head>
<body>
    <div> 

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Label("Course Title", new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("CoursesTiltles", (SelectList)ViewData["CoursesTiltles"], "Select Year")
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.Label("Class", new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("StudentsValues", (SelectList)ViewData["StudentsValues"], "Select Class")
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.Label("Student Name", new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            
                                <div class="form-group">
                                    <input type="text" id="StudentSearchInput" class="form-control" placeholder="Search..." value="">
                                </div>
                            

                            @*@Html.DropDownList("ClassesValues", (SelectList)ViewData["ClassesValues"], "Select Class")*@
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <br />
    <br />
    <div>
        @*<div id="MainGrid" style="padding:25px; background-color:grey;">
            @{
                Html.RenderPartial("ReportTable1");
            }
        </div>*@
        <table id="ReportsCoursesDataTable" style="float: left; background-color: aqua;" border="1"></table>
        <table id="ReportStudentDataTable" style="display: inline-block; background-color: aqua; " border="1"></table>
    </div>
</body>
</html>
<script src="~/Scripts/JsFilesForPages/MainReportsJSCode.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>